RELAX NG 2/relaxngschemaaddipat.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start=root
root=element root {letter+}
letter=element letter {sentence+, closing} 
sentence=element sentence {n,( text| feeling | pers | deathMent | religion)+}
n=attribute n {xsd:int}
feeling=element feeling {type, text}
type=attribute type {text}
pers=element pers {(name|descr|text)+}
descr=attribute descr {text}
name= attribute name {text}
deathMent=element deathMent {context, text}
context=attribute context {text}
religion=element religion {text}
closing=element closing {(text | pers)+}